{% extends "base.html" %}

{% block head %}
	{{ block.super }}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="?rss" />
	<link rel="unapi-server" type="application/xml" title="unAPI" href="{% url 'publications:unapi' %}"/>
{% endblock %}

{% block content %}
<div class="card mb-2">
	<div class="card-body">
		<h5 class="card-title">Workshop and challenge papers</h5>
		{% if not years %}
		<p class="card-text">Papers will be published here before the workshop starts</p>
		{% endif %}
		{% for year, publications in years %}
			{% for publication in publications %}
			<p {% if forloop.last %}class="card-text"{% else %}class="card-text mb-2"{% endif %}>
					{% include "publications/publication.html" %}
				</p>
			{% endfor %}
		{% endfor %}
	</div>
</div>

<div class="card">
	<div class="card-body">
		<h5 class="card-title">Proceedings</h5>
		<p class="card-text">
			<ul>
				<li><a href="https://openaccess.thecvf.com/CVPR2021_workshops/CLIC">CLIC 2021</a></li>
				<li>
					<a href="https://openaccess.thecvf.com/CVPR2020_workshops/CVPR2020_w7">CLIC 2020</a>
					(<a href="http://challenge.compression.cc/publications/">including challenge papers</a>)
				</li>
				<li><a href="https://openaccess.thecvf.com/CVPR2019_workshops/CVPR2019_CLIC_2019">CLIC 2019</a></li>
				<li><a href="https://openaccess.thecvf.com/CVPR2018_workshops/CVPR2018_W50">CLIC 2018</a></li>
			</ul>
		</p>
	</div>
</div>
{% endblock %}
