lightning
lightning[pytorch-extra]
imageio
lmdb
tqdm
scipy
seaborn
matplotlib
range-coder
pypng
torchac
pytorch-msssim
memory_profiler
torchmetrics[image]
wandb
einops
tensorboard
opencv-python-headless
ninja