{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
	{% if user.is_authenticated %}
		<div class="card">
			<h5 class="card-header">Create submission</h5>
			<div class="card-body">
				<form id="submission" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form | crispy }}
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	{% else %}
		<div class="card">
			<h5 class="card-header">Login</h5>
			<div class="card-body">
				<form action="/accounts/login/" method="post">
					{% csrf_token %}
					{{ form | crispy }}
					<button type="submit" class="btn btn-primary">Login</button>
				</form>
			</div>
			<div class="card-footer text-muted"><a href="{% url 'signup' %}">Sign up</a></div>
		</div>
	{% endif %}
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'js/bootstrap-filestyle.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap-fileprogress.js' %}"></script>
	<script>
		function getRedirectURL() {
			var task = $('#id_task').val();
			var phase = $('#id_phase').val();
			return `/submission/${task}/${phase}/{{ user }}/`;
		}

		$("#submission").uploadprogress({redirect_url: getRedirectURL});
	</script>
{% endblock %}
