{% load static %}
{% load clic_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CLIC &#183; Challenge on Learned Image Compression</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		{% block head %}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand navbar-light bg-light mb-3">
			<b><a class="navbar-brand" href="http://compression.cc">CLIC</a></b>
			{% block navigation %}
				{% get_navigation %}
			{% endblock %}
		</nav>
		<div class="container">
			{% block content %}{% endblock %}
		</div>
		<footer class="page-footer font-small">
			<div class="container-fluid text-center text-muted sponsors">
				Sponsored by<br>
				<a href="https://google.com" target="_blank"><img src="{% static 'img/sponsors/google.png' %}" height="40"></a>
				<a href="https://twitter.com" target="_blank"><img src="{% static 'img/sponsors/twitter.png' %}" height="70"></a>
				<a href="https://www.vision.ee.ethz.ch" target="_blank"><img src="{% static 'img/sponsors/cvl.png' %}" height="38"></a>
				<a href="https://netflix.com" target="_blank"><img src="{% static 'img/sponsors/netflix.png' %}" height="65"></a>
				<a href="https://nvidia.com" target="_blank"><img src="{% static 'img/sponsors/nvidia.png' %}" height="65"></a><br>
				<a href="https://lambdalabs.com" target="_blank"><img src="{% static 'img/sponsors/lambda.png' %}" height="37"></a>
				<a href="https://studios.disneyresearch.com" target="_blank"><img src="{% static 'img/sponsors/disney_research.png' %}" height="42"></a>
				<a href="http://www.huawei.com" target="_blank"><img src="{% static 'img/sponsors/huawei.png' %}" height="60"></a>
				<a href="https://www.mediatek.com" target="_blank"><img src="{% static 'img/sponsors/mediatek.png' %}" height="65"></a>
			</div>
		</footer>
		{% block scripts %}{% endblock %}
	</body>
</html>
