{% extends 'base.html' %}
{% load clic_filters %}

{% block content %}
<div class="card mb-3">
	<h5 class="card-header">{{ phase }}</h5>
	<div class="card-body">
		<table class="table table-hover text-center" data-toggle="table" data-classes="table table-hover text-center">
			<thead>
				<tr>
					<th scope="col" data-sortable="true">Team</th>
					{% for metric in metrics %}
					<th scope="col" data-sortable="true">{{ metric }}{% if phase.task.name == 'pframe' and metric == 'MSSSIM' %} <i class="fas fa-award text-warning"></i>{% endif %}</th>
					{% endfor %}
					<th scope="col" data-sortable="true">
						<a data-toggle="tooltip" data-placement="top" title="Bytes">
							Data size
						</a>
					</th>
					<th scope="col" data-sortable="true">
						<a data-toggle="tooltip" data-placement="top" title="Bytes">
							Decoder size
						</a>
					</th>
					<th scope="col" data-sortable="true">
						<a data-toggle="tooltip" data-placement="top" title="Seconds">
							Decoding time
						</a>
					</th>
					<th scope="col" data-sortable="true">Date</th>
				</tr>
			</thead>
			<tbody>
				{% for submission in submissions %}
					<tr>
						<td>{{ submission.team }}</td>
						{% for metric in metrics %}
							<td>{{ submission.measurements|get:metric|floatformat:3 }}</td>
						{% endfor %}
						<td>{{ submission.data_size }}</td>
						<td>{{ submission.decoder_size }}</td>
						<td>{{ submission.decoding_time|default_if_none:"" }}</td>
						<td>{{ submission.timestamp|date:"M d, H:i" }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="card-footer text-muted">
		<i class="fas fa-award text-warning"></i>
		{% if phase.task.name == 'lowrate' %}
		Winners will be determined based only on MSSSIM
		{% else %}
		Winners will be determined based on a perceptual quality test using human evaluators
		{% endif %}
	</div>
</div>
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
{% endblock %}

{% block scripts %}
	<script src="https://kit.fontawesome.com/fad7201c05.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
	</script>
{% endblock %}
