{% extends 'base.html' %}
{% load clic_filters %}

{% block content %}
	<h2>Leaderboards</h2>

	<ul class="nav nav-tabs pt-2">
		{% for phase in phases %}
		<li class="nav-item">
			<a class="nav-link{% if phase.current %} active{% endif %}" href="/leaderboard/{{ phase.task.name }}/{{ phase.name }}/">{{ phase }}</a>
		</li>
		{% endfor %}
	</ul>

	<div class="bg-white border-left border-bottom border-right rounded-bottom mb-2">
		<table class="table table-borderless table-hover text-center" data-toggle="table" data-classes="table table-hover text-center">
			<thead>
				<tr>
					<th scope="col" data-sortable="true">Team</th>
					{% for metric in metrics %}
						{% if metric != 'Sahand' %}
							<th scope="col" data-sortable="true">{{ metric }}{% if phase.task.name == 'lowrate' and metric == 'ELO' %} <i class="fas fa-award text-warning"></i>{% endif %}{% if phase.task.name == 'pframe' and metric == 'MSSSIM' %} <i class="fas fa-award text-warning"></i>{% endif %}</th>
						{% endif %}
					{% endfor %}
					<th scope="col" data-sortable="true">
						<a data-toggle="tooltip" data-placement="top" title="Bytes">
							Data size
						</a>
					</th>
					<th scope="col" data-sortable="true">
						<a data-toggle="tooltip" data-placement="top" title="Bytes">
							Decoder size
						</a>
					</th>
					<th scope="col" data-sortable="true">
						<a data-toggle="tooltip" data-placement="top" title="Seconds">
							Decoding time
						</a>
					</th>
					<th scope="col" data-sortable="true">Date</th>
				</tr>
			</thead>
			<tbody>
				{% for submission in submissions %}
					<tr>
						{% if submission.link %}
							<td><a href="{{ submission.link }}">{{ submission.team }}</a></td>
						{% else %}
							<td>{{ submission.team }}</td>
						{% endif %}
						{% for metric in metrics %}
							{% if metric == 'MSSSIM' %}
								<td>{{ submission.measurements|get:metric|floatformat:5 }}</td>
							{% elif metric == 'ELO' %}
								<td>{{ submission.measurements|get:metric|floatformat:0 }}</td>
							{% elif metric != 'Sahand' %}
								<td>{{ submission.measurements|get:metric|floatformat:3 }}</td>
							{% endif %}
						{% endfor %}
						<td>{{ submission.data_size }}</td>
						<td>{{ submission.decoder_size }}</td>
						<td>{{ submission.decoding_time|default_if_none:"" }}</td>
						<td>{{ submission.timestamp|date:"M d, H:i" }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="text-muted">
		<i class="fas fa-award text-warning"></i>
		{% if phase.task.name == 'pframe' %}
		Winners are determined based only on MSSSIM
		{% else %}
		Winners are determined based on a perceptual quality test using human evaluators
		{% endif %}
	</div>
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
{% endblock %}

{% block scripts %}
	<script src="https://kit.fontawesome.com/fad7201c05.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
	</script>
{% endblock %}
