<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
	<span>Workshop</span>
</h6>
<ul class="nav flex-column">
	<li class="nav-item">
		<a class="nav-link{% if request.path == '/' %} active{% endif %}" href="#">
			<i data-feather="home"></i> Home
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{% if request.path == '/publications/' %} active{% endif %}" href="/publications/">
			<i data-feather="book-open"></i> Papers
		</a>
	</li>
</ul>

<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
	<span>Challenge</span>
</h6>
<ul class="nav flex-column mb-2">
	<li class="nav-item">
		<a class="nav-link{% if request.path == '/introduction/' %} active{% endif %}" href="/tasks/">
			<i data-feather="file-text"></i> Introduction
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{% if request.path == '/tasks/' %} active{% endif %}" href="/tasks/">
			<i data-feather="file-text"></i> Tasks
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{% if request.resolver_match.url_name == "leaderboards" %} active{% endif %}" href="/leaderboard/">
			<i data-feather="align-justify"></i> Leaderboards
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{% if request.path == '/faq/' %} active{% endif %}" href="/faq/">
			<i data-feather="help-circle"></i> FAQ
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{% if request.resolver_match.url_name == "submit" %} active{% endif %}" href="/submit/">
			<i data-feather="upload"></i> Submit
		</a>
	</li>
</ul>

<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
	<span>Past events</span>
</h6>
<ul class="nav flex-column mb-2">
	<li class="nav-item">
		<a class="nav-link" href="http://compression.cc/2020/">
			<i data-feather="link"></i>
			CLIC 2020
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="http://compression.cc/2019/">
			<i data-feather="link"></i>
			CLIC 2019
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="http://compression.cc/2018/">
			<i data-feather="link"></i>
			CLIC 2018
		</a>
	</li>
</ul>
