<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
	<span>Workshop</span>
</h6>
<ul class="nav flex-column">
	<li class="nav-item">
		<a class="nav-link{% if request.path == '/' %} active{% endif %}" href="/">
			<i data-feather="home"></i> Home
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{% if request.path == '/schedule/2/' %} active{% endif %}" href="/schedule/2/">
			<i data-feather="calendar"></i> Dates
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{% if request.path == '/publications/' %} active{% endif %}" href="/publications/">
			<i data-feather="book-open"></i> Papers
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{% if request.path == '/organizers/' %} active{% endif %}" href="/organizers/">
			<i data-feather="user"></i> Organizers
		</a>
	</li>
</ul>

<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
	<span>Challenge</span>
</h6>
<ul class="nav flex-column mb-2">
	<li class="nav-item">
		<a class="nav-link{% if request.path == '/introduction/' %} active{% endif %}" href="/introduction/">
			<i data-feather="file-text"></i> Introduction
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{% if request.path == '/tasks/' %} active{% endif %}" href="/tasks/">
			<i data-feather="check-square"></i> Tasks
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{% if request.resolver_match.url_name == "leaderboard" %} active{% endif %}" href="/leaderboard/image-150/valid/">
			<i data-feather="align-justify"></i> Leaderboards
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="https://groups.google.com/g/clic-list">
			<i data-feather="message-circle"></i> Forum
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{% if request.path == '/faq/' %} active{% endif %}" href="/faq/">
			<i data-feather="help-circle"></i> FAQ
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{% if request.resolver_match.url_name == "submit" %} active{% endif %}" href="/submit/">
			<i data-feather="upload"></i> Submit
		</a>
	</li>
	{% if user.is_authenticated %}
		<li class="nav-item">
			<a class="nav-link{% if request.resolver_match.url_name == "submissions" %} active{% endif %}" href="/submissions/">
				<i data-feather="list"></i> Submissions
			</a>
		</li>
	{% endif %}
</ul>

<div class="d-none d-md-block">
	<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
		<span>Past events</span>
	</h6>
	<ul class="nav flex-column mb-2">
		<li class="nav-item">
			<a class="nav-link" href="http://clic.compression.cc/">
				<i data-feather="link"></i>
				CLIC 2020
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="http://clic.compression.cc/2019/">
				<i data-feather="link"></i>
				CLIC 2019
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="http://clic.compression.cc/2018/">
				<i data-feather="link"></i>
				CLIC 2018
			</a>
		</li>
	</ul>
</div>
