{% extends 'base.html' %}

{% block content %}
<div class="card mb-3">
	<h5 class="card-header">Schedule</h5>
	<div class="card-body">
		{% for entry in schedule.entry_set.all %}
			<div class="row{% if entry.passed %} text-muted{% endif %}">
				<div class="col-2">
					{% if entry.custom %}
						{{ entry.custom }}
					{% else %}
						{{ entry.datetime|date:"M d, Y" }}
					{% endif %}
				</div>
				<div class="col-10">{{ entry.description }}</div>
			</div>
			{% if not forloop.last %}
				<hr class="mt-1 mb-1">
			{% endif %}
		{% endfor %}
	</div>
	<div class="card-footer text-muted">
		All deadlines are 23:59:59 PST
	</div>
</div>
{% endblock %}
