{% extends 'base.html' %}

{% block content %}
<div class="card">
	<div class="card-body">
		<h5 class="card-title">{{ schedule.name }}</h5>
		<p class="card-text">
		{% for entry in schedule.entry_set.all %}
			<div class="row{% if entry.passed %} text-muted{% endif %}">
				<div class="col-3">
					{% if entry.custom %}
						{{ entry.custom }}
					{% else %}
						{{ entry.datetime|date:"M d, Y" }}
					{% endif %}
				</div>
				<div class="col-7">{{ entry.description }}</div>
			</div>
			<hr class="mt-1 mb-1">
		{% endfor %}
		<div class="text-muted">
			All deadlines are 23:59:59 PST
		</div>
	</div>
</div>
{% endblock %}
