{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="alert alert-primary" role="alert">
To ensure that decoders are not optimized for the test set, only decoders submitted during the validation phase can be used during the test phase. We are using hashing to determine if a decoder has changed, so even minor changes will not be possible.
</div>
{% endif %}
<div class="card">
	{% if user.is_authenticated %}
		<div class="card-body">
			<h5 class="card-title">Create submission</h5>
			<form id="submission" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form|crispy }}
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	{% else %}
		<div class="card-body">
			<h5 class="card-title">Login</h5>
			<form action="/accounts/login/" method="post">
				{% csrf_token %}
				{{ form|crispy }}
				<button type="submit" class="btn btn-primary">Login</button>
			</form>
		</div>
		<div class="card-footer text-muted"><a href="{% url 'signup' %}">Sign up</a></div>
	{% endif %}
</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'js/bootstrap-filestyle.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap-fileprogress.js' %}"></script>
	<script>
		$("#submission").uploadprogress();
	</script>
	{% if user.is_authenticated %}
		<script>
			var phase = document.getElementById('id_phase');
			var div_decoder = document.getElementById('div_id_decoder');
			var div_docker = document.getElementById('div_id_docker_image');
			var hint_data = document.getElementById('hint_id_data');
			var decoder = document.getElementById('id_decoder');

			function onPhaseChange() {
				var option = phase.options[phase.selectedIndex]
				if (option.text.toLowerCase().includes("percept")) {
					div_decoder.style.display = "none";
					div_docker.style.display = "none";
					hint_data.textContent = "Single CSV file containing predicted decisions";
					decoder.required = false;
				} else {
					div_decoder.style.display = "block";
					div_docker.style.display = "block";
					hint_data.textContent = "Files representing the encoded images";
					decoder.required = true;
				}
			}

			if (phase.addEventListener) {
				phase.addEventListener('change', onPhaseChange, false);
			} else {
				phase.attachEvent('onchange', onPhaseChange, false);
			}

			onPhaseChange();
		</script>
	{% endif %}
{% endblock %}
