{% extends 'base.html' %}

{% block content %}
<div class="card mb-3">
	<h5 class="card-header">Submission</h5>
	<div class="card-body">
		<div class="row">
			<div class="col-3">Team</div>
			<div class="col-9">{{ submission.team }}</div>
		</div>
		<hr class="mt-1 mb-1">
		<div class="row">
			<div class="col-3">Date</div>
			<div class="col-9">{{ submission.timestamp|date:"M d, H:i" }}</div>
		</div>
		<hr class="mt-1 mb-1">
		<div class="row">
			<div class="col-3">Task</div>
			<div class="col-9">{{ submission.task.description|capfirst }}</div>
		</div>
		<hr class="mt-1 mb-1">
		<div class="row">
			<div class="col-3">Phase</div>
			<div class="col-9">{{ submission.phase.description|capfirst }}</div>
		</div>
		<hr class="mt-1 mb-1">
		<div class="row">
			<div class="col-3 text-nowrap">Decoder hash</div>
			<div class="col-9 text-truncate">{{ submission.decoder_hash }}</div>
		</div>
		<hr class="mt-1 mb-1">
		<div class="row">
			<div class="col-3 text-nowrap">Decoder size</div>
			<div class="col-9">{{ submission.decoder_size|filesizeformat }}</div>
		</div>
		<hr class="mt-1 mb-1">
		<div class="row">
			<div class="col-3">Data size</div>
			<div class="col-9">{{ submission.data_size|filesizeformat }}</div>
		</div>
	</div>
</div>
<div class="card mb-3">
	<h5 class="card-header">Logs</h5>
	<div class="embed-responsive" style="height:400px">
		<iframe class="embed-responsive-item" src="/logs/{{ submission.pk }}/"></iframe>
	</div>
	<div class="card-footer text-muted">
		<a target="_blank" href="/logs/{{ submission.pk }}/">Open in new window</a>
	</div>
</div>
{% endblock %}
