{% extends 'base.html' %}
{% load clic_filters %}

{% block content %}
	<h2 >Submissions</h5>
	<table class="table table-hover text-center" data-toggle="table" data-classes="table table-hover text-center">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Status</th>
				<th scope="col" data-sortable="true">Task</th>
				<th scope="col" data-sortable="true">Phase</th>
				{% for metric in metrics %}
					<th scope="col" data-sortable="true">{{ metric}} </th>
				{% endfor %}
				<th scope="col" data-sortable="true">Date</th>
			</tr>
		</thead>
		<tbody>
			{% for submission in submissions %}
				<tr>
					<th scope="row"><a href="/submission/{{ submission.id }}/">{{ submission.id }}</a></th>
					<td>
						<a data-toggle="tooltip" data-placement="top" title="{{ submission.get_status_display }}">
							<i class="{{ submission.status_icon }}"></i>
						</a>
					</td>
					<td>{{ submission.task.description|capfirst }}</td>
					<td>{{ submission.phase.description|capfirst }}</td>
					{% for metric in metrics %}
						<td>{{ submission.measurements|get:metric|floatformat:3 }}</td>
					{% endfor %}
					<td>{{ submission.timestamp|date:"M d, H:i" }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
{% endblock %}

{% block scripts %}
	<script src="https://kit.fontawesome.com/fad7201c05.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
	</script>
{% endblock %}
